@font-face {
    font-family: 'OpenSans';
    src: url('midias/OpenSans.ttf') format('opentype');
}

/* Configuração de layout para sticky footer */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Garante que o HTML e o body tenham 100% da altura da janela */
    font-family: 'OpenSans';
}

body {
    display: flex;
    flex-direction: column; /* Permite que o conteúdo seja organizado em coluna */
}

main {
    flex: 1; /* Faz o main ocupar o espaço restante entre o header e o footer */
}

header{

}

.capa-header{

}


/* Estilos do Botão de Configurações */
.menu-toggle {
    display: block;
    background-color: #FFD23F; /* Amarelo Solar */
    color: #30475E;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.menu-toggle:hover {
    background-color: #FF6F61; /* Coral Suave */
}

/* Footer */
footer {
  background-color: #30475E; /* Azul-Índigo */
  color: #F7F7F9; /* Off-White */
  padding: 20px 0;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-logo .logo {
  font-size: 24px;
  font-weight: bold;
  color: #FFD23F; /* Amarelo Solar */
  text-decoration: none;
}

.footer-logo p {
  margin-top: 10px;
  line-height: 1.5;
}

.footer-links, .footer-social {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.footer-links h3, .footer-social h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #FFD23F; /* Amarelo Solar */
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a, .footer-social a {
  text-decoration: none;
  color: #F7F7F9; /* Off-White */
  transition: color 0.3s;
}

.footer-links ul li a:hover, .footer-social a:hover {
  color: #FF6F61; /* Coral Suave */
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #FFD23F;
  padding-top: 10px;
  margin-top: 20px;
}